.auth {
  padding-top: 15rem;
  background-color: var(--white);
  font-family: "Inconsolata";
  height: 90vh;
}
.toogleAuth {
  cursor: pointer;
  color: var(--primaryRed);
}

.auth button {
  background-color: var(--primaryBlue);
  color: var(--white);
}
.auth button:hover {
  background-color: var(--white);
  color: var(--primaryBlue);
}

.form-control:focus {
  box-shadow: var(--yellow) !important;
}
