.auth {
  padding-top: 15rem;
  background-color: var(--secondaryBlack);
  font-family: "Inconsolata";
  height: 90vh;
}
.toogleAuth {
  cursor: pointer;
  color: var(--green);
}

.auth button {
  background-color: var(--primaryBlack);
  color: var(--green);
}
.auth button:hover {
  color: var(--green);
}

.form-control:focus {
  box-shadow: var(--yellow) !important;
}
