:root {
  --white: #ffffff;
  --black: #2d2e32;
  --primaryBlack: #2d2e32;
  --secondaryBlack: #25262a;
  --green: #5bd490;
  --secondaryWhite: #fdfdfd;
  --primaryBlue: #020330;
  --secondaryBlue: #bcddff;
  --primaryViolet: #2f2e94;
  --primaryRed: #d90429;
  --primaryGray: #edede9;
  --primaryGreen: #70e000;
}

a :visited {
  color: var(--green) !important;
}

body {
  font-family: "Inconsolata";
}

.nav navbar-nav navbar-right .active a {
  color: var(--green) !important;
}

body {
  overflow-x: hidden;
}
