.card_lower_body {
  height: 6rem;
}
.card_title {
  font-size: 1rem;
}
.card_link {
  color: var(--white);
  text-decoration: none !important;
}

.main_card {
  border: none !important;
  outline: 1px solid black;
}
.card_link:hover {
  color: var(--primaryRed) !important;
}

@media only screen and (max-width: 1160px) {
  .card_lower_body {
    height: 8rem;
  }
}
